{% extends "base.html" %}
{% block title %}
    <title>登入頁面</title>
    {% load static %}
    {% load widget_tweaks %}
    <link rel="icon" href="{% static 'images/Box_ico.ico' %}" type="image/x-icon"/>
    <style>
        body {
            background-image: url("{% static 'images/boxes.jpg' %}");
        }
    </style>
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="login-container">
            <h2>會員登入</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">帳號</label>
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">密碼</label>
                    {{ form.password|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="captcha" class="form-label">驗證碼</label>
                    {{ form.captcha|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary login_button">登入</button>
                <a href="{% url 'signup' %}" class="btn btn-secondary mt-2 login_button">註冊</a>
            </form>

            {% if messages %}
                <div class="alert alert-danger mt-3">
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
